@{
    Layout = "";
}
<div>
    <h2>Mortgages</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>UPI</th>
            </tr>
            <tr ng-repeat="mortgage in vm.mortgages">
                <td>{{::mortgage.date|date}}</td>
                <td>{{::mortgage.amount}}</td>
                <td>{{::mortgage.upi}}</td>
            </tr>
        </thead>
    </table>
</div>
